* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0.5em;
  line-height: 1.5;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid black;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em 0.5em;
}

.description {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  border: 2px solid red;
}

.carte{
grid-column: 5/7;
grid-row: 1/3;
display: grid;
grid-template-rows: 1fr 1fr;
gap:0;
}

.carte > div {
  border: 2px solid blue;
  height: 100%;
}

/* .image{
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}

.info{
  grid-column: 5 / 7;
  grid-row: 2 / 3;
} */

.frise {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  border: 2px solid orange;
}

.citation {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  border: 2px solid black;
}

.youtube {
  grid-column: 4 / 7;
  grid-row: 4 / 5;
  border: 2px solid pink;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
