/* Initialisation CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*Variables CSS pour faciliter mise en page*/

:root {
  --main-bg-color: #525395;
  --main-text-color: #eed29c;
  --main-font-family: "Overlock", sans-serif;
  --main-font-size: 1rem;
  --main-line-height: 2;
  --nav-button-bg-color: #ff80ff;
}

/* FAILED : Mettre media quieries */

/* Mise en page body */

body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  line-height: var(--main-line-height);
  margin: 0.5em;
  margin-top: 6.5em;
}

/* HEADER */

nav {
  background:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url(sailorMoonImages/sailor\ navi.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 5px solid black;
  margin-bottom: 2em;
  height: 5em;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

nav a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav > div {
  width: 25%;
}

#divLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonNav:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

nav a :hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
nav img {
  height: 4em;
  border: 3px solid #5e5fab;
  border-radius: 50%;
}

.buttonNav {
  background-color: var(--nav-button-bg-color);
  border: 3px solid var(--main-bg-color);
  align-content: center;
  text-align: center;
  padding: 1rem;
  width: 6em;
  height: 3em;
}

/* MAIN */

/* Création d'une grille/section */

.container1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 1em 0em;
}

/* Section/Description*/

.description {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  /* border: 4px solid red; */
  padding: 2rem;
}

/* Section/Image */

.cardYellow {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}

.cardYellowImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
}

/* Section/CarteIdentité */

.container2 {
  grid-column: 5 / 7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.carte {
  grid-column: 5/7;
  display: grid;
  grid-template-rows: max-content 100% 1fr;
  gap: 0;
}

.container2 > div {
  border: 4px solid #ff80ff;
  border-radius: 3px;
  text-align: center;
  margin: 0.5em;
  padding: 1rem;
}

/* Section/FriseChronologique */

.frise {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  display: flex;
  align-items: flex-start;
  text-align: left;
  list-style-position: inside;
  font-size: 1rem;
  width: 100%;
}

.frise h3 {
  font-size: 1.5rem;
}
.imageDivFrise {
  grid-column: 1 / 7;
  grid-row: 4 / 5;
}

.container3 ul {
  padding-left: 1rem;
}

.friseImage {
  height: 7em;
}

/* Section/CitationInfluence */

.citation {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  margin: 5em;
}

.imgCitation {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
}

/* Section/Générique */

.youtube {
  grid-column: 4 / 7;
  grid-row: 5 / 6;
  margin: 5em;
}

/*Footer*/

footer {
  text-align: center;
  line-height: 1;
  padding: 0.5em;
  margin: 10em;
}

.github {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  text-decoration: none;
}
