/* Initialisation CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Variables CSS pour faciliter mise en page*/

:root {
  --main-bg-color: #525395;
  --main-text-color: #eed29c;
  --main-font-family: "edu sa beginner", sans-serif;
  --main-font-size: 1.5rem;
  --main-line-height: 1.5;
  --nav-button-bg-color: #ff80ff;
}

/* Mettre media quieries + mode light/dark si possible + nav en scroll*/

/* Mise en page body */

body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  line-height: var(--main-line-height);
  margin: 0.5em;
  margin-top: 6.5em;
}

/*Header*/

nav {
  background:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url(sailorMoonImages/sailor\ navi.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 5px solid black;
  margin-bottom: 2em;
  height: 5em;
  position: absolute;

  left: 0;
  top: 0;
  width: 100%;
}

nav a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav > div {
  width: 25%;
}
#divLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonNav:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
nav a :hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
nav img {
  height: 4em;
  border: 3px solid #5e5fab;
  border-radius: 50%;
}

.buttonNav {
  background-color: var(--nav-button-bg-color);
  border: 3px solid var(--main-bg-color);
  align-content: center;
  text-align: center;
  padding: 1rem;
  width: 6em;
  height: 3em;
}

/* Main */

/* Création d'une grille/section */

.container1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 1em 0.5em;
}

/* Placement des sections */

/* Section/Description */

.description {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  border: 2px solid red;
  padding: 1rem;
}

/* Section/Image */
/* Comment optimiser taille et disposition grid pour que l'image remplisse tout le contenu ? */
/* Comment faire pour coller la grid cardYelloW à la grid container2 ? */

.cardYellow {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
  border: 2px solid yellow;
  display: flex;
  justify-content: center;
}

.cardYellowImage {
  width: 100%;
  height: 100%; /* j'ai modifié auto en % pour que l'image remplisse la zone */
  object-fit: cover; /* ça permet de ne pas déformer l'image :) */
  border: 2px solid yellow;
  align-self: center;
}

/* Section/CarteIdentité */

/* Optimiser cette partie ? */

.container2 {
  /* positionnement container2 */
  grid-column: 5 / 7;
  /* grid-row: 2 / 3; */
  /* création d'une grille interne */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.carte {
  grid-column: 5/7;
  border: 2px solid blue;
  display: grid;
  gap: 0;
}

.container2 > div {
  border: 0.2em solid #ff80ff;
  height: 100%;
  font-size: 0.9rem;
}

/* Section/FriseChronologique */

/* .frise {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  border: 2px solid orange;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  border: 2px solid white;
} */

.frise {
  display: flex;
  text-align: center;
  list-style-position: inside;
}
/* .imageDivFrise {
  display: flex; */
/* gap: 2rem;
  padding: 2rem; */

/* .periode {
  text-align: center;
  list-style-position: inside;
} */

.periode ul {
  padding-left: 1rem;
}

.friseImage {
  height: 5em;
}

/* à compléter dans HTML */

/* Section/CitationInfluence */

.citation {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  border: 2px solid black;
}

/* Section/Générique */

.youtube {
  grid-column: 4 / 7;
  grid-row: 4 / 5;
  border: 2px solid pink;
}

/*Footer*/

/* Ajouter lien GitHub/Repo */

footer {
  border: 2px solid black;
  line-height: 1;
  padding: 0.5em;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.github {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  text-decoration: none;
}
